{:deps
 {org.clojure/clojure {:mvn/version "1.10.1"}
  tentacles {:mvn/version "0.5.1"}
  clj-http {:mvn/version "3.10.1"}}
 :paths ["src" "resources"]
 :aliases {:nrepl
           {:extra-deps
            {nrepl/nrepl {:mvn/version "0.6.0"}}
            :main-opts
            ["-m" "nrepl.cmdline"]}}}
